.button {
  box-sizing: content-box;
  cursor: pointer;
  /* Make the buttons look like tiles. */
  border: var(--tile-large-border-width) var(--tile-border-style);
  border-radius: var(--tile-large-border-radius);
}

.small {
  padding: 8px;
}

.medium {
  padding: 16px;
  width: 8rem;
}

.large {
  padding: 24px;
  width: 12rem;
  font-size: 1.2em;
}