.button {
  cursor: pointer;
}

.small {
  padding: 8px;
  width: unset !important;
}

.medium {
  padding: 16px;
  width: 8rem !important;
}

.large {
  padding: 24px;
  width: 12rem !important;
  font-size: 1.2em;
}