.container {
  --stack-offset: 2px;
  --size: calc(
    2 *
    theme(height.tile-sm) +
    17 *
    theme(width.tile-sm) +
    4 *
    var(--stack-offset)
  );
  position: relative;
  height: var(--size);
  width: var(--size);
}

.segment {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.segment:nth-child(1) {
  left: theme(width.tile-sm);
  transform: rotate(0.5turn);
}

.segment:nth-child(2) {
  top: calc(theme(height.tile-sm) + 2 * var(--stack-offset));
  left: calc(theme(height.tile-sm) + 2 * var(--stack-offset));
  transform: rotate(-0.25turn);
  transform-origin: top right;
}

.segment:nth-child(3) {
  top: calc(var(--size) - theme(height.tile-sm));
  left: theme(height.tile-sm);
}

.segment:nth-child(4) {
  top: calc(theme(height.tile-sm) + 2 * var(--stack-offset));
  left: calc(theme(height.tile-sm) - 2 * var(--stack-offset));
  transform: rotate(0.25turn);
  transform-origin: top left;
}
