.container > .segment:first-child > .stack:nth-child(7) {
  margin-right: 8px;
}

.segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.stack {
  position: relative;
}

.stack-tile:nth-child(2) {
  position: absolute;
  top: -2px;
  left: 0px;
}