.tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: var(--tile-border-style);
}

.small {
  height: var(--tile-small-height);
  width: var(--tile-small-width);
  border-width: var(--tile-small-border-width);
  border-radius: var(--tile-small-border-radius);
  font-size: var(--tile-small-font-size);
}

.medium {
  height: var(--tile-medium-height);
  width: var(--tile-medium-width);
  border-width: var(--tile-medium-border-width);
  border-radius: var(--tile-medium-border-radius);
  font-size: var(--tile-medium-font-size);
}

.large {
  height: var(--tile-large-height);
  width: var(--tile-large-width);
  border-width: var(--tile-large-border-width);
  border-radius: var(--tile-large-border-radius);
  font-size: var(--tile-large-font-size);
}
