:root {
  --tile-border-style: solid;

  --tile-small-border-width: 1px;
  --tile-small-border-radius: 3px;
  --tile-small-font-size: 0.25em;
  --tile-small-height: 38px;
  --tile-small-width: 33px;

  --tile-medium-border-width: 2px;
  --tile-medium-border-radius: 5px;
  --tile-medium-font-size: 0.5em;
  --tile-medium-height: 59px;
  --tile-medium-width: 50px;

  --tile-large-border-width: 6px;
  --tile-large-border-radius: 10px;
  --tile-large-font-size: 1em;
  --tile-large-height: 106px;
  --tile-large-width: 88px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  width: 100vw;
}
